<div class="main-contents">
<div class="following-index-container">
  <h2>フォローされているユーザー</h2>
    <% @user.followers.each do |f| %>
        <div class="following-index-user">
            <% if f.image? %>
              <div><%= image_tag f.image.url, class: "following-user-icon" %></div>
            <% else %>
              <div><%= image_tag "/assets/default.jpg", :size => '30x30' %></div>
            <% end %>

          <div class="following-index-profile">
            <div><%= link_to f.name, relationships_follow_path(id: f.id), class: "following-user-name" %></div>
            <div><%= simple_format(f.profile) %></div>
          </div>
          
        </div>
    <% end %>
</div>
</div>
