<% if c.comment_liked_by?(current_user) %>
  <p><span >いいね解除: </span>♡<%= link_to c.comment_likes.count, post_comment_comment_like_path(post_id: @post.id, comment_id: c.id ), remote: true, method: :delete, class: "text-danger" %></p>
<% else %>
  <p><span>いいね: </span>♡<%= link_to c.comment_likes.count, post_comment_comment_likes_path(post_id: @post.id, comment_id: c.id), remote: true, method: :post, class: "text-secondary"  %></p>
<% end %>
