.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00005d;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 4%;
  font-weight: bold;
}

.header-left{
  font-size: 32px;
}

.header-right{
  font-size: 32px;
  display: flex;
}

.header-right div{
  margin-right: 10px;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #bdc6b7;
  margin-top: auto;
}

.footer div{
  display: flex;
  justify-content: center;
}

body, #wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
