.navbar{
  background-color: #00005d;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.navbar-nav{
  background-color: #00005d;
}

.nav-link{
  color: whitesmoke;
  font-size: 30px;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #bdc6b7;
  margin-top: auto;
}

.footer div{
  display: flex;
  justify-content: center;
}

body, #wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
