// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//ユーザー詳細画面↓
.user-show-index{
  align-items: center;
  margin: 0% 10%;
}

.user-show-user-icon{
  width: 130px;
  height: 130px;
}

.user-show-name{
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-show-profile{
  font-size: 18px;
}

.user-show-following{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.user-show-follower{
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

.user-show-follow-info{
  display: flex;
  flex-direction: row;
}

.user-show-edit-button{
  border: 1px solid #00a9ff; 
  border-radius: 20px;
  background-color: white;
  color: rgb(0, 208, 255);
  font-weight: bold;
}

//フォロー中関係↓

.following-index-container{
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  margin: 0% 15%;
 
}

.following-user-icon{
  width: 30px;
  height: 30px;
}
.following-index-user{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-top: 1px solid #ddd;
}

.following-index-profile{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.following-user-name{
  font-size: 18px;
  color: black;
  font-weight: bold;
}